@tailwind base;
@tailwind components;
@tailwind utilities;
.circle {
    height: 140px;
    width: 140px;
    border-radius: 50%; /* Makes the div a circle */
    overflow: hidden; /* Ensures content stays within the circle */
    
}
.gradient-bg {
    background: linear-gradient(135deg, #8A2BE2, #4169E1);
}
.icon-bg {
    background-color: rgba(255, 255, 255, 0.2);
}
