<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
 <header class="text-white">
        <nav class="hidden lg:flex p-4 bg-gray-200 text-black">
            <div class="container max-w-7xl mx-auto flex justify-between items-center">
                <div class="flex flex-grow space-x-5">
                    <a href="#" class="text-sm hover:text-green-800">
                        <i class="fa-solid fa-location-dot" aria-hidden="true"></i>
                        558 Main Street, India
                    </a>
                    <a href="#" class="text-sm hover:text-green-800">
                        <i class="fa-solid fa-phone" aria-hidden="true"></i>
                        +000 (123) 456 88
                    </a>
                    <a href="#" class="text-sm hover:text-green-800">
                        <i class="fa-regular fa-envelope"></i>
                        support@gmail.com
                    </a>
                </div>

                <div id="navbar" class="hidden lg:flex space-x-8 flex-grow justify-center">
                    <!-- Add your nav links here -->
                </div>

                <div class="hidden items-center space-x-4 lg:flex flex-grow justify-end">
                    <p class="text-sm text-black">Follow Us:</p>
                    <a href="#" class="relative hover:text-green-800"><i class="fa-brands fa-facebook-f" aria-hidden="true"></i></a>
                    <a href="#" class="relative hover:text-green-800"><i class="fa-brands fa-x-twitter" aria-hidden="true"></i></a>
                    <a href="#" class="relative hover:text-green-800"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
                    <a href="#" class="relative hover:text-green-800"><i class="fa-brands fa-whatsapp" aria-hidden="true"></i></a>
                </div>
            </div>
        </nav>
        <!-- Main Navbar -->
        <nav class="bg-white p-4">
            <div class="container max-w-7xl mx-auto flex justify-center items-center">
                <!-- <div class="flex justify-center lg:justify-center flex-grow px-4"> -->
                <div class="flex md:justify-left  flex-grow ">
                    <a href="../../../index.html" class="text-black text-2xl font-bold">Liveosoft</a>
                </div>
                <!-- <div class="flex-grow">
        <a href="./index.html" class="text-black text-2xl font-bold">Liveosoft</a>
      </div> -->
                <div class="flex-1 flex justify-end lg:hidden">
                    <button id="navbar-toggle" class="text-black focus:outline-none">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12H16M4 18h16"></path>
                        </svg>
                    </button>
                </div>

                <div id="navbar-links" class="hidden lg:flex space-x-8 flex-grow justify-center items-center text-black font-semibold">
                    <a href="/index.html" class="hover:text-green-800">Home</a>
                    <a href="/src/pages/about.html" class="hover:text-green-800">About</a>
                    <a href="/src/pages/contact.html" class="hover:text-green-800">Contact</a>
                    <a href="/src/pages/career.html" class="hover:text-green-800">Career</a>
                    <div class="group relative flex items-center text-left h-full py-2">
                        <!-- Dropdown Button -->
                        <div class="text-black font-semibold cursor-pointer hover:text-green-800" id="dropdownBtn">
                            Resources

                            <div id="dropdownContent" class="dropdown-content absolute left-0 mt-2 w-48 bg-white border border-gray-200 shadow-lg hidden group-hover:block rounded-md z-50">
                                <ul class="py-1">
                                    <li>
                                        <a href="/src/pages/blog.html" class="block px-4 py-2 text-black hover:text-green-800 hover:bg-gray-100 hover:border-b-2 hover:border-green-800">Blogs</a>
                                    </li>
                                    <li>
                                        <a href="/src/pages/blog.html" class="block px-4 py-2 text-black hover:text-green-800 hover:bg-gray-100 hover:border-b-2 hover:border-green-800">News</a>
                                    </li>
                                    <li>
                                        <a href="/src/pages/faq.html" class="block px-4 py-2 text-black hover:text-green-800 hover:bg-gray-100 hover:border-b-2 hover:border-green-800">Faqs</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- Dropdown Menu (hidden by default) -->
                    </div>

                    <div class="group relative flex items-center text-left h-full py-2">
                        <!-- Dropdown Button -->
                        <div class="text-black font-semibold cursor-pointer hover:text-green-800" id="dropdownBtn">
                            Platform

                            <div id="dropdownContent" class="dropdown-content absolute left-0 mt-2 w-48 bg-white border border-gray-200 shadow-lg hidden group-hover:block rounded-md z-50">
                                <ul class="py-1">
                                    <li>
                                        <a href="/src/pages/liveosoftSoftware.html" class="block px-4 py-2 text-black hover:text-green-800 hover:bg-gray-100 hover:border-b-2 hover:border-green-800">Liveosoft Software</a>
                                    </li>
                                    <li>
                                        <a href="/src/pages/hospitallyService.html" class="block px-4 py-2 text-black hover:text-green-800 hover:bg-gray-100 hover:border-b-2 hover:border-green-800">Hospitality as a Service (HaaS)</a>
                                    </li>
                                    <li>
                                        <a href="/src/pages/erp.html" class="block px-4 py-2 text-black hover:text-green-800 hover:bg-gray-100 hover:border-b-2 hover:border-green-800">Bpm & Erp</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- Dropdown Menu (hidden by default) -->
                    </div>

                    <a href="/src/pages/lob.html" class="hover:text-green-800">Business</a>

                    <!-- <a href="./src/pages/faq.html" class="hover:text-green-800">Faqs</a> -->
                </div>

                <div class="hidden lg:flex flex-grow justify-end items-center">
                    <!-- <a href="#" class="relative hover:text-green-800 font-extrabold"><i class="fa fa-cart-arrow-down text-2xl" aria-hidden="true"></i></a> -->
                    <a href="#" class="inline-block bg-green-800 text-white font-bold py-2 px-4 rounded hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-800 focus:ring-opacity-75">
                        Book a Meeting
                    </a>
                </div>
            </div>
        </nav>


        <!-- Mobile Menu -->
        <div id="mobile-menu" class="fixed top-0 left-0 w-full h-full mobile-menu hidden lg:hidden bg-white bg-opacity-100 z-50 overflow-auto">
            <div class="flex justify-between items-center p-4 font-bold text-white bg-green-500">
                <div class="text-xl">Main Menu</div>
                <!-- Aligns to the left -->
                <button id="close-menu" class="text-white">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
            </div>

            <!-- nav anchor -->
            <div class="p-6 space-y-4">
                <a href="/index.html" class="block text-black justify-between items-center p-1 font-semibold">
                    Home
                </a>
                <hr class="border-t-2 border-dotted border-green-600 w-full mx-auto my-6" />

                <a href="/src/pages/about.html" class="block text-black justify-between items-center p-1 font-semibold">
                    About
                </a>
                <hr class="border-t-2 border-dotted border-green-600 w-full mx-auto my-6" />
                <a href="/src/pages/career.html" class="block text-black justify-between items-center p-1 font-semibold">
                    Career
                </a>
                <hr class="border-t-2 border-dotted border-green-600 w-full mx-auto my-6" />
                <!-- <a
           href="./src/pages/Services.html"
           class="block text-black justify-between items-center p-1 font-semibold"
         >
           Services
         </a>
          <hr
            class="border-t-2 border-dotted border-green-600 w-full mx-auto my-6"
          /> -->
                <a href="/src/pages/contact.html" class="block text-black justify-between items-center p-1 font-semibold">
                    Contact
                </a>
                <hr class="border-t-2 border-dotted border-green-600 w-full mx-auto my-6" />
               

                <!-- <a id="menu-btn" class="flex text-black justify-between items-center p-1 font-semibold">
            <p>Resource</p>
            <button onclick="toggleAccordion()" class="focus:outline-none">
              <i id="icon" class="fa-solid fa-angle-down text-black transform transition-transform"></i>
            </button>
          </a> -->
                <a id="menu-btn" class="flex text-black justify-between items-center p-1 font-semibold">
                    <p>Resource</p>
                    <button class="focus:outline-none">
                        <i id="icon" class="fa-solid fa-angle-down text-black transform transition-transform"></i>
                    </button>
                </a>
                <hr class="border-t-2 border-dotted border-green-600 w-full mx-auto my-6" />
                <div id="accordion-content-mobilemenu" class="hidden p-4 ">
                    <!-- Accordion content here -->
                    <div class="">
                        <div class="flex justify-between items-center">
                            <a href="/src/pages/blog.html" class="block py-2 text-black">- Blog</a>
                            </button>
                        </div>
                    </div>
                    <!-- Accordion Item 2 -->
                    <div class="">
                        <div class="flex justify-between items-center">
                            <a href="/src/pages/blog.html" class="block py-2 text-black">- News</a>
                        </div>
                    </div>
                    <div class=""></div>
                    <div class="flex justify-between items-center">
                        <a href="/src/pages/faq.html" class="block py-2 text-black">- Faqs</a>
                    </div>
                </div>


                <!--     
            <a id="menu-btn-platform" class="flex text-black justify-between items-center p-1 font-semibold">
            <p>Platform </p>
            <button onclick="toggleAccordionPlatform()" class="focus:outline-none">
              <i id="icon_platform" class="fa-solid fa-angle-down text-black transform transition-transform"></i>
            </button>
          </a> -->

                <a id="menu-btn-platform" class="flex text-black justify-between items-center p-1 font-semibold">
                    <p>Platform</p>
                    <button class="focus:outline-none">
                        <i id="icon_platform" class="fa-solid fa-angle-down text-black transform transition-transform"></i>
                    </button>
                </a>
                <hr class="border-t-2 border-dotted border-green-600 w-full mx-auto my-6" />
                <div id="accordion-content-mobilemenu-platform" class="hidden p-4 ">
                    <!-- Accordion content here -->
                    <div class="">
                        <div class="flex justify-between items-center">
                            <a href="/src/pages/liveosoftSoftware.html" class="block py-2 text-black">- Liveosoft Software</a>
                            </button>
                        </div>
                    </div>
                    <!-- Accordion Item 2 -->
                    <div class="">
                        <div class="flex justify-between items-center">
                            <a href="/src/pages/hospitallyService.html" class="block py-2 text-black">- Hospitality as a Service (HaaS)</a>
                        </div>
                    </div>
                     <div class="">
                        <div class="flex justify-between items-center">
                             <a href="/src/pages/erp.html" class="block py-2 text-black">- Bpm&Erp</a>
                        </div>
                    </div>
                   
                   

                </div>


                <a href="#" class="block text-black justify-between items-center p-1 font-semibold">
                    Business
                </a>
                <hr class="border-t-2 border-dotted border-green-600 w-full mx-auto my-6" />
            </div>



            <div class="flex item-center justify-center p-4">
                <a href="#" class="inline-block bg-green-500 text-white font-bold p-4 rounded hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-800 focus:ring-opacity-75">
                    Book a Meeting
                </a>
            </div>
        </div>
    </header>

    <script src="/src/js/nav.js"></script>
  </body>
</html>
