<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <!-- Send Us a Message Form Section -->

    <div class="bg-white">
      <div class="max-w-7xl mx-auto py-10">
        <h2 class="text-4xl font-bold text-green-600 text-center mb-8">
          Reach out to Us
        </h2>
        <form class="w-full px-4" id="contactForm">
          <!-- First Name, Phone Number, Email -->
          <div class="mb-6 grid grid-cols-1 md:grid-cols-3 gap-4">
            <div>
              <input
                class="w-full p-4 bg-green-50 text-gray-700 shadow-md rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400"
                type="text"
                id="name"
                maxlength="100"
                placeholder=" Name"
                required
                pattern="[A-Za-z\s\-]+"
                title=" Name can only contain letters and spaces."
              />
            </div>
            <!-- Phone number and country code -->
            <div class="flex">
              <div class="mr-2">
                <select
                  class="p-4 bg-green-50 text-gray-700 shadow-md rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400"
                  id="countryCode"
                  required
                >
                  <option value="+91">+91 (India)</option>
                  <option value="+1">+1 (USA)</option>
                  <option value="+44">+44 (UK)</option>

                  <!-- Add other country codes as needed -->
                </select>
              </div>
              <div>
                <input
                  class="w-full p-4 bg-green-50 text-gray-700 shadow-md rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400"
                  type="tel"
                  id="phone"
                  placeholder="Phone"
                  maxlength="10"
                  pattern="\d{10}"
                  title="Phone number must be exactly 10 digits."
                  required
                />
              </div>
            </div>
            <div>
              <input
                class="w-full p-4 bg-green-50 text-gray-700 shadow-md rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400"
                type="email"
                id="email"
                placeholder="Email"
                required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                title="Please enter a valid email address (e.g., example@domain.com)."
              />
            </div>
          </div>
          <!-- Message -->
          <div class="mb-6">
            <textarea
              class="w-full p-4 bg-green-50 text-gray-700 shadow-md rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400"
              rows="2"
              id="address"
              required
              placeholder="Your Message"
            ></textarea>
          </div>

          <!-- Submit Button -->
          <div class="text-center">
            <button
              type="submit"
              class="bg-gradient-to-r from-green-600 to-green-500 hover:from-green-500 hover:to-green-600 text-white font-bold py-3 px-8 rounded-lg transition-transform transform hover:scale-105"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>

    <footer class="bg-gradient-to-r from-green-700 to-green-950 text-white">
      <!-- Optional Call-to-Action Section (commented out) -->
      <!-- 
<div class="container mx-auto max-w-7xl px-4">
<h1 class="text-4xl font-bold mb-6 text-center text-yellow-400">Do you want to work with Organic Farm?</h1>
<p class="mb-10 text-center text-gray-300">Arctic char, steelhead sprat sea lamprey grunion. Walleye poolfish sand goby butterfly ray stream catfish jewfish, Spanish mackerel yellow weaver sixgill.</p>
<div class="text-center">
<button class="bg-yellow-400 hover:bg-yellow-500 text-black font-bold py-3 px-6 rounded-lg shadow-lg transform transition duration-300 hover:scale-105">Get a Quote</button>
</div>
</div>
-->

      <div
        class="container mx-auto py-20 flex flex-col md:flex-row justify-between space-y-2 md:space-y-0 md:space-x-8 px-4 max-w-7xl"
      >
        <!-- Left Column: Logo and Social Media -->
        <div
          class="w-full md:w-1/3 flex flex-col items-center md:items-start text-center md:text-left"
        >
          <img
            src="/src/assets/Images/HomePage/Hero/logo.png"
            alt="Theliveosoft logo"
            class="w-60 h-30 mb-2"
          />
          <p class="text-sm font-bold text-yellow-400 mb-2">ESTD 2024</p>
          <h2 class="text-2xl font-bold mb-4 text-white">THELIVEOSOFT</h2>
          <p class="text-white mb-6">
            Empowering agriculture and hospitality through innovative technology
            solutions.
          </p>
          <div class="flex justify-center md:justify-start space-x-4">
            <a
              href="#"
              class="text-white hover:text-yellow-400 transition duration-300"
              ><i class="fab fa-x-twitter fa-lg"></i
            ></a>
            <a
              href="#"
              class="text-white hover:text-yellow-400 transition duration-300"
              ><i class="fab fa-facebook-f fa-lg"></i
            ></a>
            <a
              href="#"
              class="text-white hover:text-yellow-400 transition duration-300"
              ><i class="fab fa-youtube fa-lg"></i
            ></a>
            <a
              href="#"
              class="text-white hover:text-yellow-400 transition duration-300"
              ><i class="fab fa-instagram fa-lg"></i
            ></a>
          </div>
        </div>

        <!-- Middle Column: Main Menu -->
        <div
          class="w-full md:w-1/3 flex flex-col items-center md:items-start text-center md:text-left"
        >
          <h2 class="text-2xl font-bold mb-6 text-white">Quick Links</h2>
          <ul class="list-none space-y-2 text-white">
            <li
              class="hover:text-yellow-400 transition duration-300 cursor-pointer"
            >
              <a href="/src/pages/about.html">About Us</a>
            </li>
            <li
              class="hover:text-yellow-400 transition duration-300 cursor-pointer"
            >
              <a href="/src/pages/blog.html">Blogs</a>
            </li>
            <li
              class="hover:text-yellow-400 transition duration-300 cursor-pointer"
            >
              <a href="/src/pages/faq.html">FAQS</a>
            </li>
            <li
              class="hover:text-yellow-400 transition duration-300 cursor-pointer"
            >
              <a href="/src/pages/liveosoftSoftware.html">Liveosoft Software</a>
            </li>
            <li
              class="hover:text-yellow-400 transition duration-300 cursor-pointer"
            >
              <a href="/src/pages/hospitalityService.html">HaaS</a>
            </li>
            <li
              class="hover:text-yellow-400 transition duration-300 cursor-pointer"
            >
              <a href="/src/pages/career.html">Careers</a>
            </li>
            <li
              class="hover:text-yellow-400 transition duration-300 cursor-pointer"
            >
              <a href="/src/pages/contact.html">Contacts</a>
            </li>
          </ul>
        </div>

        <!-- Right Column: Contact Info -->
        <div
          class="w-full md:w-1/3 flex flex-col items-center md:items-start text-center md:text-left"
        >
          <h2 class="text-2xl font-bold mb-6 text-white">Contact Info</h2>
          <p class="mb-2 text-white">Plot No-01, Adarsh Vihar, KIIT Square</p>
          <p class="mb-2 text-white">Patia, Bhubaneswar</p>
          <p class="mb-2 text-white">+91 7008436462</p>
          <p class="mb-2 text-white">+91 8596925810</p>
          <p class="mb-2 text-white">tusar@theliveosoft.com</p>
          <p class="mb-2 text-white">paresh@theliveosoft.com</p>
        </div>
      </div>
      <div class="mx-auto px-4 max-w-7xl w-full">
        <hr />
      </div>
      <!-- Flexbox for aligning copyright and privacy policy on the same line -->
      <div
        class="container mx-auto max-w-7xl p-4 flex justify-between items-center gap-4"
      >
        <p class="text-sm text-white">
          © 2024 TheLiveosoft. All Rights Reserved
        </p>
        <a href="/src/pages/Privacypolicy.html">
          <p class="text-sm text-white">
            Privacy Policy | Terms and Conditions
          </p>
        </a>
      </div>
    </footer>
  </body>
</html>
