<footer class="bg-yellow-800 text-white p-4">
  <div class="container mx-auto">
    <h1 class="text-xl">TheoLiveSoft Footer</h1>
    <nav class="mt-2">
      <ul class="flex space-x-4">
        <li><a href="../../../index.html" class="hover:text-gray-400">A</a></li>
        <li><a href="../../pages/about.html" class="hover:text-gray-400">B</a></li>
        <li><a href="../../pages/contact.html" class="hover:text-gray-400">C</a></li>
        <!-- Add more links as needed -->
      </ul>
    </nav>
  </div>
</footer>
